
.panel-heading {
    text-align:center;
   
}

.caret{color:white;}

fieldset {
    text-align: left;
    padding: 10px;

}
fieldset legend {
 
    text-align: center;
   
   
}

#fieldset_projet{
    width:75%;
    margin:0 auto;
}

.container-list-lvl2{

   margin:40px;
  
}



.container-list{
 margin:0 auto;
    
}

.i-info > .glyphicon-info-sign {
    position: relative;
    font-size: 0.8em;
    top: -17px;
    margin-left:10px;
    color:#C0C0C0;
    text-decoration: none;
}

.c-comment > .glyphicon-comment {
    position: relative;
    font-size: 0.8em;
    top: -17px;
    margin-left:5px;
    color:#C0C0C0;
    text-decoration: none;
}

.x-remove > .glyphicon-remove {
    position: relative;
    font-size: 0.8em;
    top: -17px;
    right: 5px;
    color:#C0C0C0;
    text-decoration: none;
}
#accordion.panel-group{
    width:70%;
    margin:0 auto;

}

#titre_projet{

    margin-left:10px;
    font-family: Georgia, serif;

}


.table_info {

    text-align: left;
}

.table_info td:first-child  {
    font-weight: bold;
}
.table_info caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}


.commentaire{
color:red;
    top:10px!important;
    left:10%!important;
    width:50%!important;
    position: absolute!important;
    height:90%!important;
    overflow:auto!important;
    text-align: left;
}

/*
    Stylesheet for examples by DevHeart.
    http://devheart.org/

    Article title:  jQuery: Customizable layout using drag n drop
    Article URI:    http://devheart.org/articles/jquery-customizable-layout-using-drag-and-drop/

    Example title:  1. Getting started with sortable lists
    Example URI:    http://devheart.org/examples/jquery-customizable-layout-using-drag-and-drop/1-getting-started-with-sortable-lists/index.html
    https://devheart.org/articles/jquery-customizable-layout-using-drag-and-drop/
*/

/*
    Alignment
------------------------------------------------------------------- */

/* Floats */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}


/*
    Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
  
    margin: 0 auto;
    width: 100%; 


   padding-left: 10px;
}


/* Columns */

.column {
   /*
    margin-left: 2%;
    width: 32%;
   */
   margin:5px;
}
.column.first {margin-left: 0;}


/* Sortable items */

.sortable-list {
    /*background-color: #6688aa; *//*#F93;*/
    list-style: none;
    margin: 0;
    min-height: 60px;
    padding: 10px;



    width:200px;
    border:none;
}
.sortable-item {
    background-color: #FFF;
    border: 1px solid #C0C0C0;
    cursor: move;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 20px 0;  
    text-align: center;



}

/* Containment area */

#containment {
    background-color: #FFA; 
    
    height: 230px;


}


/* Item placeholder (visual helper) */

.placeholder {
    /*background-color: #BFB;*/
    background-color: #C0C0C0;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px;
}

#dialog label, #dialog input { display:block; }
#dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea { width: 95%; height: 95%; }
#tabs { margin-top: 1em; height: 500px;}
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#add_tab { cursor: pointer; }


#date_debut{z-index:2000 !important;}
#date_fin{z-index:2000 !important;}